* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: rgba(39, 151, 95, 255);
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #ffffff;
  width: 95vw;
  margin: 0 auto;
}

/* tab articles for later */

.for-later {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
